html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;

  --color-primary: #d9d9d9;
  --color-accent: #50fbc2;
  --color-background: #282525;
}

body {
  background-color: var(--color-background);
  font-family: sans-serif;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--color-primary);
  position: relative;
  overflow-x: hidden;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  background: radial-gradient(
    ellipse at center,
    transparent 0%,
    transparent 50%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

body > canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

h1,
.links {
  position: relative;
  z-index: 1;
}

.links,
body {
  display: flex;
}

h1 {
  margin: 1rem 0;
}

.links {
  margin: 1.5rem 0;
  gap: 1rem;
}

.links svg {
  --icon-size: 1.5rem;
  width: var(--icon-size);
  height: var(--icon-size);
  fill: var(--color-primary);
}

.links a {
  color: var(--color-primary);
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  align-items: center;
  text-decoration: none;
  width: 8rem;
  height: 2rem;
  position: relative;
  outline: none;
  transition: backdrop-filter var(--transition-time);
}

.links a:hover,
.links a:focus {
    backdrop-filter: blur(3px) brightness(200%);
}

.links a::before {
  --transition-time: 200ms;
  pointer-events: none;
  display: block;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  outline: solid 3px rgba(0, 0, 0, 0);
  background: rgba(255, 255, 255, 0);
  transform: scale(1.1);
  transition: outline var(--transition-time), background var(--transition-time),
    transform var(--transition-time);
}

.links a:focus::before {
  outline: solid 3px color-mix(in srgb, var(--color-primary) 50%, transparent);
  background: rgba(255, 255, 255, 0.1);
  transform: scale(1);
}

.links a:hover::before {
  outline: solid 3px var(--color-accent);
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1);
}

@media only screen and (max-width: 667px) {
  body::after {
    display: none;
  }

  .links {
    flex-wrap: wrap;
    width: calc(100% - 3rem);
  }

  .links a {
    justify-content: center;
    width: 100%;
  }
}
